$tablet-width: "min-width: 700px";
$desktop-width: "min-width: 1200px";
$mobile-desktop-widths-only: "max-width: 1199px";


$green: #9bafa4;
$dark-blue: #283645;
$white: #ffffff;
$black: #000000;
$gray: #f7f8f8;
$dark-gray: #b5b9be;
$light-gray: #e5e5e5;
$pink: #d22856;
$dark-pink: #5d354e;
$dark-green: #1c9b5e;
$gray-text: #283645;
$blue: #101c29;
