.rewiews {
  @include container;
  margin-bottom: 44px;
}
.rewiews__title {
  color: #000000;
  font-size: 25px;
  font-wieght: bold;
  font-family: "OpenSansBold";
}
blockquote {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 24px;
}
.rewiews__block {
  font-size: 15px;
  font-family: "OpenSansRegular";
}
.rewiews__name {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  font-family: "OpenSansBold";
}
.rewiews__nickname {
  font-size: 18px;
  font-family: "OpenSansRegular";
}
.rewiews__paginator__prev {
  @include link;
}
.rewiews__paginator__next {
  @include link;
}
.rewiews__btn {
  @include link;
  font-size: 18px;
  text-transform: uppercase;
  color: #444444;
}
.rewiews__paginator {
  display: block;
  margin: 26px 0 38px 0;
  font-size: 0;
}
.rewiews__paginator__prev{
  display: inline-block;
  background: url("../img/icon-left-arrow.svg") no-repeat center;
}

.rewiews__paginator__next {
  display: inline-block;
  background: url("../img/icon-right-arrow.svg") no-repeat center;
}

.rewiews__paginator__prev,
.rewiews__paginator__next {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media ($tablet-width) {
  .rewiews {
    min-height: 457px;
    background-image: url("../img/review@1x.jpg");
    background-size: auto;
    background-position: left;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 68px;
    margin-bottom: 37px;
  }
  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
        .rewiews {
      background-image: url("../img/review@1x.jpg");
    }
  }
  .rewiews__wrapper {
    width: 668px;
    margin: 0 auto;
    position: relative;
  }
  .rewiews__title {
    font-size: 43px;
    margin-bottom: 59px;
    margin-top: 50px;
  }
  blockquote {
    margin-right: 0;
    margin-bottom: 56px;
  }
  .rewiews__block {
    font-size: 17px;
    font-family: "OpenSansRegular";
  }
  .rewiews__name {
    display: block;
    width: 253px;
    font-size: 17px;
  }
  .rewiews__nickname {
    font-size: 17px;
    display: inline-block;
    width: 131px;

  }
  .rewiews__paginator {
    font-size: 0;
    border: none;
    width: 167px;
    margin: 0;
    position: absolute;
    right: 4px;
    top: 271px;
  }
  .rewiews__btn {
    position: absolute;
    top: -38px;
    right: 0px;
    width: 176px;
    font-size: 17px;
  }
  .rewiews__paginator__prev,
  .rewiews__paginator__next {
    box-shadow: none;
  }
}
@media ($tablet-width) and (min-resolution: 144dpi),
        ($tablet-width) and (min-resolution: 1.5dppx) {
  .reviews {
    &::before {
      background: url("../img/review@2x.jpg") no-repeat;
    }
  }
}

@media ($desktop-width) {
  .rewiews {
    width: 1050px;
    margin: 0 auto;
    padding-top: 24px;
    margin-bottom: 55px;
  }
  .rewiews__title {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 48px;
    margin-top: 60px;
  }
  .rewiews__name {
    width: 239px;
  }
  .rewiews__block {
    margin-right: 105px;
  }
  .rewiews__btn {
    top: -22px;
    right: 0;
  }
  blockquote {
    margin-bottom: 36px;
  }
  .rewiews__paginator {
    top: 237px;
    right: 4px;
  }
  .rewiews__wrapper {
    padding-left: 172px;
    width: auto;
    margin: 0;
  }
}
